.header {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    display: flex;
    gap: 50px;
}

.menu-item a {
    color: #e2e2e2;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
}
.menu-item a:hover {
        font-weight: 700;

}

.auth-btn a{
    color: #fff;
    font-weight: 700;
}